<?xml version="1.0" encoding="UTF-8"?>
<!-- EPFL Configuration 2/2/2017 -->
  <ArrayList>
    <MAInstrumentType>
      <altDesignator>A</altDesignator>
      <descriptor>OCR1</descriptor>
      <fileType>PPB</fileType>
      <typeClass>MAHOCRPacket</typeClass>
      <typeDesignator>2</typeDesignator>
      <version>100.0</version>
    </MAInstrumentType>
    <MAInstrumentType>
      <altDesignator>F</altDesignator>
      <descriptor>OCR2</descriptor>
      <fileType>PPB</fileType>
      <typeClass>MAHOCRPacket</typeClass>
      <typeDesignator>7</typeDesignator>
      <version>100.0</version>
    </MAInstrumentType>
    <MAInstrumentType>
      <altDesignator>9</altDesignator>
      <descriptor>TRIP2</descriptor>
      <fileType>PPB</fileType>
      <typeClass>MAASCIIDataPacket</typeClass>
      <typeDesignator>1</typeDesignator>
    </MAInstrumentType>
    <MAInstrumentType>
      <altDesignator>E</altDesignator>
      <descriptor>PARS</descriptor>
      <fileType>PPB</fileType>
      <typeClass>MAASCIIDataPacket</typeClass>
      <typeDesignator>6</typeDesignator>
    </MAInstrumentType>
    <MAInstrumentType>
      <altDesignator>D</altDesignator>
      <descriptor>DO</descriptor>
      <fileType>PPB</fileType>
      <typeClass>MAASCIIDataPacket</typeClass>
      <typeDesignator>5</typeDesignator>
    </MAInstrumentType>
    <MAInstrumentType>
      <altDesignator>B</altDesignator>
      <descriptor>TRIP1</descriptor>
      <fileType>PPB</fileType>
      <typeClass>MAASCIIDataPacket</typeClass>
      <typeDesignator>3</typeDesignator>
    </MAInstrumentType>
    <MAInstrumentType>
      <altDesignator>8</altDesignator>
      <descriptor>CTD</descriptor>
      <fileType>PPB</fileType>
      <typeClass>MAHexCTDPacket</typeClass>
      <typeDesignator>0</typeDesignator>
    </MAInstrumentType>
    <MAInstrumentType>
      <altDesignator>d</altDesignator>
      <descriptor>PDBG</descriptor>
      <fileType>PPB</fileType>
      <typeClass>MAPDBGPacket</typeClass>
      <typeDesignator>x</typeDesignator>
    </MAInstrumentType>
    <MAInstrumentType>
      <altDesignator>b</altDesignator>
      <descriptor>PDBG</descriptor>
      <fileType>PPB</fileType>
      <typeClass>MAASCIIDataPacket</typeClass>
      <typeDesignator>b</typeDesignator>
    </MAInstrumentType>
    <MAInstrumentType>
      <altDesignator>s</altDesignator>
      <descriptor>ACS</descriptor>
      <fileType>ACS</fileType>
      <typeClass>MAACSPacket</typeClass>
      <typeDesignator>S</typeDesignator>
      <version>3.4028235E38</version>
    </MAInstrumentType>
    <MAInstrumentType>
      <altDesignator>4</altDesignator>
      <descriptor>SBE</descriptor>
      <fileType>WC</fileType>
      <typeClass>MAWinchBinaryPressurePacket</typeClass>
      <typeDesignator>1</typeDesignator>
      <version>3.4028235E38</version>
    </MAInstrumentType>
    <MAInstrumentType>
      <altDesignator>5</altDesignator>
      <descriptor>HMR</descriptor>
      <fileType>WC</fileType>
      <typeClass>MAWinchHMRPacket</typeClass>
      <typeDesignator>2</typeDesignator>
      <version>3.4028235E38</version>
    </MAInstrumentType>
    <MAInstrumentType>
      <altDesignator>6</altDesignator>
      <descriptor>WM</descriptor>
      <fileType>WC</fileType>
      <typeClass>MAWinchMotorPacket</typeClass>
      <typeDesignator>3</typeDesignator>
      <version>3.4028235E38</version>
    </MAInstrumentType>
    <MAInstrumentType>
      <altDesignator>d</altDesignator>
      <descriptor>WDBG</descriptor>
      <fileType>WC</fileType>
      <typeClass>MAWinchDBGPacket</typeClass>
      <typeDesignator>0</typeDesignator>
      <version>3.4028235E38</version>
    </MAInstrumentType>
  </ArrayList>
